/* Bloqueo visual de menús internos (Seguridad) */
#MainMenu, footer, header, .stDeployButton {
    display: none !important;
}

/* Fondo base de la aplicación */
.stApp {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

/* Estilo para que el texto resalte sobre cualquier imagen */
.stMarkdown div[data-testid="stMarkdownContainer"] {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
